<main class="d-flex flex-column min-vh-100 bg-warning">
  <nav class="text-center m-3">
    <h1>
      Text passing app using service
    </h1>
  </nav>
  <div class="container">
    <div class="container d-flex justify-content-center border border-dark rounded m-5">
      <app-box-one></app-box-one>
    </div>
    <div class="container d-flex justify-content-center border border-dark rounded m-5">
      <app-box-two></app-box-two>
    </div>
    <div class="container d-flex justify-content-center border border-dark rounded m-5">
      <app-box-three></app-box-three> 
    </div>
  </div>
</main>